<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% autoescape off %}
<p>Hi {{ user.get_username }},</p>

<p>We received a request to reset your password. Click the link below to choose a new one:</p>

<p>
    <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
        Reset your password
    </a>
</p>

<p>If you didn’t request a password reset, please ignore this email.</p>

<p>Thanks,<br>The Team</p>
{% endautoescape %}

</body>
</html>